:root
{
    /* FONT */
    --font-dm-sans: "DM Sans", sans-serif;

    /* COLORS */

    --bg-sidebar: #121212;
    --bg-sidebar-text: #b3b3b3;

    --bg-icon: #131313;
    --bg-arrow-color:  rgba(0,0,07);
}